/* Button.module.scss */
.buttonWrapper {
  margin-top: 8px;
  position: relative;
  border-radius: var(--border-radius10);
  user-select: none;

  &.responsive {
    border-radius: clamp(6px, 1.5vmin, 10px);

    .button {
      padding: clamp(0.4rem, 1.2vmin, 1rem) clamp(0.65rem, 2.2vmin, 2rem);
      gap: clamp(1px, 1vmin, 15px);
      font-size: clamp(0.8rem, 2vmin, 1.2rem);
    }
  }

  &.yellow {
    .button {
      background-color: var(--yellow);
      color: var(--white);
    }
    .buttonShadow {
      background-color: color-mix(in srgb, var(--yellow) 80%, black 20%);
    }
  }

  &.white {
    .button {
      background-color: var(--white);
      color: var(--black);
    }
    .buttonShadow {
      background-color: color-mix(in srgb, var(--white) 80%, black 20%);
    }
  }

  &.blue {
    .button {
      background-color: var(--blue);
      color: var(--white);
    }
    .buttonShadow {
      background-color: color-mix(in srgb, var(--blue) 80%, black 20%);
    }
  }

  &.purple {
    .button {
      background-color: var(--purple);
      color: var(--white);
    }
    .buttonShadow {
      background-color: color-mix(in srgb, var(--purple) 80%, black 20%);
    }
  }

  &.red {
    .button {
      background-color: var(--red);
      color: var(--white);
    }
    .buttonShadow {
      background-color: color-mix(in srgb, var(--red) 80%, black 20%);
    }
  }

  &.grey {
    .button {
      background-color: var(--grey);
      color: var(--black);
    }
    .buttonShadow {
      background-color: color-mix(in srgb, var(--grey) 80%, black 20%);
    }
  }
  .button {
    cursor: pointer;
    padding: var(--spacing15) var(--spacing30);
    font-size: 20px;
    border-radius: inherit;
    align-items: center;
    display: flex;
    justify-content: center;
    gap: var(--spacing15);
    position: relative;
    font-family: var(--font-karla);
    font-weight: var(--font-semibold);
  }

  .buttonShadow {
    border-radius: inherit;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: color-mix(in srgb, var(--yellow) 80%, black 20%);
    left: 0;
    top: 0;
  }
}
