// TutorialScreen.module.scss
.tutorialContent {
  width: 85%;
  aspect-ratio: 10 / 6.8;
  overflow: hidden;
  background-color: var(--purple);
  display: flex;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  z-index: 100;
  margin-top: 6%;
  padding: clamp(10px, 3vmin, 3rem);
}

.tutorialBg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.tutorialBottomContainer {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr auto;
  gap: clamp(1px, 3vmin, 40px);
  align-items: flex-end;
  z-index: 10;
}

.tutorialText {
  color: var(--black);
  font-family: "Karla", sans-serif;
  font-weight: 500;
  background-color: var(--white);
  border-radius: clamp(10px, 1.5vmin, 20px);
  text-align: left;
  margin: 0;
  width: fit-content;
  padding: clamp(0.6rem, 1.4vmin, 2rem) clamp(0.8rem, 2.2vmin, 4rem);
  font-size: clamp(0.8rem, 2vmin, 1.2rem);
}

.tutorialButtonWrapper {
}
