// Timer.module.scss
.time {
  position: absolute;
  top: var(--spacing15);
  left: var(--spacing20);
  width: fit-content;
  color: var(--white);
  font-size: 6vh;
  text-align: left;
  filter: drop-shadow(0px 6px 0px rgba(0, 0, 0, 0.1));
  font-family: "FatFrank", sans-serif;
}
