.endScreen {
  width: 100%;
  max-width: 1400px;
  padding: 5vmin;
  gap: var(--spacing40);
  display: flex;
  flex-direction: column;
  justify-content: center;

  h1 {
    font-family: var(--font-fatfrank);
    color: var(--white);
    font-size: clamp(2rem, 4vmin, 5rem);
    font-weight: 100;
  }

  h2 {
    font-family: var(--font-fatfrank);
    color: var(--white);
    font-weight: 100;
    letter-spacing: 0.5px;
  }
}

.row {
  display: flex;
  column-gap: var(--spacing30);
  row-gap: var(--spacing20);
  flex-wrap: wrap;
}

.card {
  flex: 4;
  background-color: var(--white);
  flex-direction: column;
  font-family: var(--font-karla);
  font-weight: var(--font-regular);
  padding: var(--spacing20);
  border-radius: var(--border-radius20);
  color: var(--black);
  font-size: 20px;
  gap: var(--spacing25);
  display: flex;
  :nth-child(1) {
    color: var(--blue);
    font-family: var(--font-fatfrank);
    font-weight: 100;
    letter-spacing: 0.5px;
  }
  :nth-child(4) {
    font-weight: var(--font-bold);
  }
  p {
    color: var(--black);
  }
}

.blueCard {
  flex: 2;
  background-color: var(--blue);
  border-radius: var(--border-radius20);
  color: var(--white);
  padding: var(--spacing20);
  display: flex;
  flex-direction: column;
  gap: var(--spacing15);
  font-size: 16px;
  p {
    opacity: 0.8;
  }
  .subtitle {
    font-weight: var(--font-bold);
    opacity: 1;
  }
}

.news {
  display: grid;
  width: 100%;
  gap: var(--spacing30);
  grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
}

.newsArticleWrapper {
  border-radius: var(--border-radius15);
}
.newsArticle {
  background-color: var(--white);
  border-radius: var(--border-radius15);
  gap: var(--spacing10);
  padding: var(--spacing10);

  .image {
    width: 100%;
    aspect-ratio: 2/1;
    background-color: var(--grey);
    border-radius: var(--border-radius10);
    overflow: hidden;
    position: relative;

    img {
      object-fit: cover;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }
  }

  h3 {
    font-size: 1rem;
    color: var(--blue);
    font-family: var(--font-fatfrank);
    font-weight: 100;
    letter-spacing: 0.5px;
    padding: 0 3px 3px 3px;
  }
}

.buttons {
  flex-wrap: wrap;
  display: flex;
  gap: var(--spacing20);
  justify-content: center;
}
