// Card.module.scss

.card {
  padding: clamp(3vmin, var(--spacing20), 4vmin) 0;
  color: var(--black);
  text-decoration: none;
  font-family: "FatFrank", sans-serif;
  font-size: 20px;
  font-weight: 900;
  display: flex;
  gap: 20px;
  position: relative;
  z-index: 1;
  cursor: pointer;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cardIcon {
  font-size: 48px;
  color: var(--blue);
}
