// PauseButton.module.scss
.pauseIcon {
  cursor: pointer;
  font-size: 55px;
  border-radius: 999px;
  width: 75px;
  height: 75px;
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: transparent;
}

.iconWrapper {
  filter: drop-shadow(0 8px 0 rgba(0, 0, 0, 0.1));
}
