@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
:root {
  /* Kleuren */
  --blue: #677eff;
  --green: #26ffba;
  --red: #ff588d;
  --yellow: #ffc83c;
  --pink: #ffb5ed;
  --purple: #9f85ff;
  --magenta: #f373ff;
  --beige: #ebd8bd;
  --background: #f0f0f0;
  --black: #333;
  --white: #fff;
  --border: #e5e7ea;
  --color-shadow: rgba(0, 0, 0, 0.1);
  --overlay: #00000088;

  --box-shadow: 0 8px 0 0 var(--color-shadow);

  /* Spacings */
  --spacing2: 2px;
  --spacing5: 5px;
  --spacing8: 8px;
  --spacing10: 10px;
  --spacing15: 15px;
  --spacing20: 20px;
  --spacing25: 20px;
  --spacing30: 30px;
  --spacing40: 40px;
  --spacing50: 50px;
  --spacing64: 64px;

  /* Border radiussen */
  --border-radius5: 5px;
  --border-radius10: 10px;
  --border-radius20: 20px;
  --border-radius-circle: 999px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: var(--white);
  font-family: "Inter", sans-serif;
}

/*
** Interface
*/
/* Score Progress Bar Styles */
.score-progress-container {
  width: 100%;
  text-align: center;
  border-radius: var(--border-radius20);
  color: var(--black);
  display: flex;
  flex-direction: column;
  gap: var(--spacing15);
  padding-bottom: var(--spacing10);
  max-width: 460px;
}
.score-progress-container.game {
  /* Stijlen voor de game-modus */
  position: fixed;
  bottom: 3vh;
  bottom: 3dvh;
  left: 3vh;
  left: 3dvh;

  margin-bottom: 9px;
  width: 100%;
  max-width: 350px;
}
.score-progress-container.end {
  /* Stijlen voor de end-modus */
  background-color: transparent;
  border: none;
}

.score-label {
  font-size: 1rem;
  font-weight: bold;
  color: var(--white);
  display: flex;
  align-items: center;
  gap: 1rem;
}

.score-icon-container {
}

.score-info-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.score-advance {
  font-size: 1.5rem;
  font-family: "Karla", sans-serif;
  color: #c2c2c2;
  font-weight: 300;
  position: absolute;
}

.score-icon {
  color: var(--yellow);
  font-size: 2.2rem;
}

.score-text {
  font-size: 1.5rem;
  font-family: "Karla", sans-serif;
  color: #000;
  font-weight: 300;
}

.score-progress-bar {
  position: relative;
  height: 35px;
  background-color: #e8eaf1;
  overflow: hidden;
  border-radius: 30px;
  box-shadow: 0 9px 0 0 rgba(0, 0, 0, 0.1);
  border: 5px solid var(--white);
}

.score-progress-fill {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: var(--green);
  transition: width 0.5s ease-in-out;
}

.score-target-indicator {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 5px;
  background-color: white;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.7);
}

/* Update interface layout */
.interface {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  pointer-events: none;
}

.score-wrapper {
  position: relative;
}

.interface-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 1rem;
}

.level-info {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 0.75rem 1rem;
  border-radius: 8px;
  max-width: 300px;
  pointer-events: all;
}

.level-info h3 {
  font-size: 1.2rem;
  margin: 0 0 0.5rem 0;
  color: white;
}

.level-info p {
  font-size: 0.9rem;
  margin: 0;
  color: rgba(255, 255, 255, 0.8);
}

/**
 * Time
 */
.time {
  position: absolute;
  top: var(--spacing20);
  left: var(--spacing20);
  width: fit-content;
  color: var(--white);
  font-size: 6vh;
  padding-top: 5px;
  text-align: left;
  filter: drop-shadow(0px 6px 0px rgba(0, 0, 0, 0.1));
}
.score {
  position: absolute;
  top: 15%;
  left: 0;
  width: 100%;
  color: var(--white);
  font-size: 6vh;
  background-color: var(--overlay);
  padding-top: 5px;
  text-align: center;
}

/**
 * Restart
 */
.restart {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 40vh;
  left: 0;
  width: 100%;
  color: var(--white);
  font-size: 80px;
  background-color: var(--overlay);
  padding-top: 10px;
  pointer-events: auto;
  cursor: pointer;
  pointer-events: all;
}

/**
 * Controls
 */
.controls {
  position: absolute;
  bottom: 10%;
  left: 0;
  width: 100%;
}

.controls .raw {
  display: flex;
  justify-content: center;
}

.controls .key {
  width: 40px;
  height: 40px;
  margin: 4px;
  border: 2px solid var(--white);
  background: var(--white) 44;
}

.controls .key.large {
  width: 144px;
}

.controls .key.active {
  background: var(--white) 99;
}

/**
 * Intro
 */

.intro-logo {
  width: 50vh;
  max-width: 100%;
  align-self: center;
}

.intro-content {
  height: 100%;
  padding: 5dvw;
  display: grid;
  grid-template-rows: 1fr auto;
  justify-items: center;
  gap: var(--spacing40);
  width: 100%;

  @media screen and (max-width: 768px) {
    padding: var(--spacing40);
    gap: var(--spacing20);
  }
}
.intro-text-container {
  font-family: "Karla", sans-serif;
  font-weight: 100;
  display: flex;
  flex-direction: column;
  gap: var(--spacing20);
  justify-content: center;
  max-width: 1200px;
}

.intro-text-line {
  opacity: 0; /* Start invisible */
}

/* Interactive terms styling */
.interactive-term {
  text-decoration: underline;
  cursor: help;
  color: var(--white);
  position: relative;
  display: inline-flex;
  align-items: center;
  gap: 0.3rem;
}

.info-icon {
  font-size: 0.8rem;
  opacity: 0.8;
}

.intro-text-paragraph {
  color: var(--white);
  font-size: 38px;
  font-weight: 800;
  line-height: 1.5;
  text-align: center;
  @media screen and (max-width: 768px) {
    font-size: 18px;
  }
}

/* Custom tooltip theme */
.tippy-box[data-theme~="custom"] {
  /* background-color: var(--black); */
  color: white;
  border-radius: 5px;
  font-size: 0.9rem;
  padding: 5px;
  max-width: 300px !important;
}

.tippy-box[data-theme~="custom"][data-placement^="top"] > .tippy-arrow::before {
  border-top-color: var(--black);
}

.intro-track-container {
  margin: 0 calc(-5vw - 32px);
  margin: 0 calc(-5dvw - 32px);

  @media screen and (max-width: 768px) {
    margin: 0 calc(-80px - 40px);
    /* this is based on the width of the white padding and intro-content padding */
  }
}

.intro-track {
  width: 100vw;
  width: 100dvw;
  height: auto;
  z-index: 5;
  transition: all 0.8s ease-in-out;
  pointer-events: none;
}

.instructions {
  text-align: left;
  margin: 2rem 0;
}

.button-position-wrapper {
}

.button-container-row {
  display: flex;
  gap: 20px;
  position: absolute;
  bottom: 5%;
  z-index: 100;
}

/* And modify the start-button to remove positioning */
.start-button {
  padding: 1rem 2rem;
  font-size: 1.2rem;
  background-color: var(--yellow);
  color: var(--white);
  border: none;
  border-radius: 11px;
  cursor: pointer;
  transition: background-color 0.3s;
  display: flex;
  gap: 0.1rem;
  font-family: "Karla", sans-serif;
  font-weight: 600;
}

/**
 * Timer
 */

.timer {
  position: absolute;
  top: 15px;
  right: 15px;
  color: white;
  padding: 8px 16px;
  border-radius: 4px;
  font-size: 50px;
  font-family: "FatFrank", sans-serif;
}

.timer-display {
  display: flex;
  align-items: center;
  justify-content: center;
}

.time {
  position: absolute;
  top: 15px;
  right: 15px;
  color: white;
  padding: 8px 16px;
  border-radius: 4px;
  font-size: 50px;
  font-family: "FatFrank", sans-serif;
}

/**
 * Pause Screen
 */

.pause-content {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--spacing40);
  position: relative; /* Add this */
  z-index: 2; /* Place above bg image */
  width: 100%; /* Add this for proper container sizing */
  padding: var(--spacing40);
}

/* 3. Make card components properly interactive */
.card-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  max-width: 900px;
  position: relative;
  z-index: 3;
}

/* Update card styling for Button component compatibility */
.card {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--white);
  border-radius: 25px;
  padding: 2.35rem 1.75rem;
  color: #000000;
  text-decoration: none;
  font-family: "FatFrank", sans-serif;
  font-size: 20px;
  font-weight: 900;
  display: flex;
  gap: 20px;
  flex-direction: column;
  width: 200px;
  min-height: 200px;
  position: relative;
  z-index: 1;
  /* Remove box-shadow as it's handled by Button component now */
}

.card-icon {
  font-size: 48px;
  color: var(--blue);
}

/* Remove card-container as we no longer need it */
.card-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  max-width: 900px;
  position: relative;
  z-index: 3;
}

.pause-content h2 {
  font-size: 5rem;
  margin-bottom: 1rem;
  color: var(--white);
  font-family: "FatFrank", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.pause-button {
  padding: 1rem 2rem;
  font-size: 1.2rem;
  background-color: var(--yellow);
  color: var(--white);
  border: none;
  border-radius: 11px;
  cursor: pointer;
  transition: background-color 0.3s;
  display: flex;
  gap: 0.6rem;
  font-family: "Karla", sans-serif;
  font-weight: 600;
  align-items: center;
}

/**
 * Explanation overlay
 */
.explanation-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  z-index: 100;
  /* pointer-events: none; */
}

.robot-image {
  max-width: 100vw;
  max-width: 100dvw;
  max-height: 100vh;
  max-height: 100dvh;
  width: 1200px;
  position: absolute;
  bottom: 0;
  left: 0;
  object-fit: contain;
  object-position: left;
}

.explanation-button {
  margin: 0;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  background-color: var(--yellow);
  color: var(--white);
  border: none;
  border-radius: 11px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.65rem;
  z-index: 100;
  font-family: "Karla", sans-serif;
  font-weight: 600;
  width: 180px; /* Set a fixed width */
  min-width: 180px;
}

/* Add wrapper for positioning */
.explanation-button-wrapper {
  position: absolute;
  bottom: 4vw;
  right: 4vw;
  bottom: 4dvw;
  right: 4dvw;
  z-index: 100;
}

/**
 * Game Over Screen
 */
.game-over-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--overlay);
  z-index: 1000;
}
.game-over-wrapper {
  width: 90vw;
  width: 90dvw;
  max-width: 1200px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-over-tv {
  width: 100%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(
    -50%,
    -50%
  ); /* Adjust vertical offset to account for antenna */
  z-index: 101;
  pointer-events: none;
}

.game-over-content {
  width: 85%;
  aspect-ratio: 10 / 6.8;
  overflow: hidden;
  background-color: var(--purple);
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  flex-direction: column;
  z-index: 100;
  margin-top: 6%; /* Move content down to align with TV screen area */
}

.game-over-bg {
  position: absolute;
  height: 100%;
  width: 100%;
  mix-blend-mode: soft-light;
  opacity: 0.15;
  pointer-events: none;
  z-index: -1;
  object-fit: cover;
}

.game-over-button {
  padding: 1rem 2rem;
  font-size: 1.2rem;
  background-color: var(--yellow);
  color: var(--white);
  border: none;
  border-radius: 11px;
  cursor: pointer;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  font-family: "Karla", sans-serif;
  font-weight: 600;
  z-index: 2;
  position: relative;
  z-index: 10;
}

.game-over-button-wrapper {
  position: relative;
  z-index: 10;
}

.game-over-content-wrapper {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: var(--spacing15);
  border-radius: var(--border-radius20);
  width: 440px;
  z-index: 2;
  gap: var(--spacing15);
  box-shadow: var(--box-shadow);
}

.game-over-news-text {
  display: flex;
  flex-direction: column;
  gap: var(--spacing10);
}

.game-over-header {
  font-size: 2.7rem;
  color: var(--blue);
  font-family: "FatFrank", sans-serif;
}

.game-over-news-header {
  font-size: 2.5rem;
  text-align: center;
  color: var(--white);
  font-family: "FatFrank", sans-serif;
}

.game-over-news-image {
  width: 100%;
  max-height: 160px;
  object-fit: cover;
  border-radius: var(--border-radius10);
}

.game-over-news-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: var(--spacing30);
}

.game-over-news-title {
  font-size: 1.5rem;
  color: var(--blue);
  font-family: "FatFrank", sans-serif;
}

.game-over-news-description {
  font-size: 1.2rem;
  color: var(--black);
  font-family: "Karla", sans-serif;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  height: auto;
}

.game-over-details {
  font-family: "Karla", sans-serif;
  font-size: 1.2rem;
}

/**
 * Ready Screen
 */

.ready-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--overlay);
  color: white;
  z-index: 100;
  pointer-events: none;
}

.ready-content {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* SVG image animations */
.countdown-svg-text {
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0.8);
    transform-origin: center center;
  }
  50% {
    transform: scale(1);
    transform-origin: center center;
  }
  100% {
    transform: scale(0.8);
    transform-origin: center center;
  }
}

/* Adjust container styles */
.ready-heading {
  margin-bottom: 1rem;
  max-width: 100%;
  width: 40vh;
  width: 40dvh;
  max-width: 550px;
}
.ready-heading img {
  width: 100%;
  height: auto;
}

.countdown {
  display: flex;
  justify-content: center;
  height: 30vh;
  height: 30dvh;
  max-height: 350px;
  aspect-ratio: 1/1;
}

.countdown img {
  width: 100%;
  height: auto;
}

/**
  * Level Transition
  */

.level-transition {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 2rem;
  border-radius: 10px;
  text-align: center;
  z-index: 1000;
  width: 80%;
  max-width: 500px;
}

.level-transition h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #4caf50;
}

.level-transition h3 {
  font-size: 1.5rem;
  margin: 1rem 0;
  color: #2196f3;
}

.level-transition button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 1rem;
  transition: background-color 0.3s;
}

.level-transition button:hover {
  background-color: #3e8e41;
}

/**
 * Layout
 */

.layout-container {
  height: 100vh;
  height: 100dvh;
  overflow-y: auto;
  overflow-x: hidden;
  display: grid;
  position: relative;
  min-height: 100vh;
  min-height: 100dvh;
  background-color: var(--white);
  padding: 32px;
  @media screen and (max-width: 768px) {
    padding: var(--spacing20);
  }
}

.layout-inner {
  height: 100%;
  background-color: var(--purple);
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 2;
  border-radius: var(--border-radius20);
  @media screen and (max-width: 768px) {
    border-radius: var(--border-radius10);
  }
}

.corner-pieces {
  @media screen and (max-width: 1000px) {
    display: none;
  }
}

.layout-bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  mix-blend-mode: soft-light;
  opacity: 0.15;
  pointer-events: none;
  border-radius: 30px;
  z-index: -1;
  object-fit: cover;
  pointer-events: none;
}

.building-label > div {
  font-family: Helvetica, Arial;
  position: absolute;
  background: #00000088;
  color: white;
  padding: 15px;
  white-space: nowrap;
  overflow: hidden;
  border-radius: 30px;
  user-select: none;
}

/**
 Garage Transition
  */
.garage-transition {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

/**
Button styling
*/
.button-container {
  position: relative;
  display: inline-block;
  z-index: 10;
}

.button-shadow {
  position: absolute;
  top: 9px;
  left: 0;
  z-index: -1;
  opacity: 0.9;
}

.top-right-buttons {
  position: absolute;
  top: var(--spacing20);
  right: var(--spacing20);
  z-index: 1000;

  display: flex;
  gap: var(--spacing10);
  align-items: center;
}

.top-right-buttons.intro {
  top: var(--spacing40);
  right: var(--spacing40);

  @media screen and (max-width: 768px) {
    top: var(--spacing20);
    right: var(--spacing20);
  }
}

/**
  Mute Button
  */

.mute-button {
  cursor: pointer;
  font-size: 55px;
  border-radius: 999px;
  width: 75px;
  height: 75px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.icon-wrapper {
  filter: drop-shadow(0 8px 0 rgba(0, 0, 0, 0.1));
}

/**
    Pause Button
    */

.pause-icon {
  cursor: pointer;
  font-size: 55px;
  border-radius: 999px;
  width: 75px;
  height: 75px;
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: transparent;
}

/** corner pieces */

.left-corner-piece {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 9vh;
  height: 9dvh;
  aspect-ratio: 3.8/1;
}

.right-corner-piece {
  position: fixed;
  right: 0;
  bottom: 0;
  height: 9vh;
  height: 9dvh;
  aspect-ratio: 3.8/1;
}
.corner-piece-inner {
  position: relative;
  width: 100%;
  height: 100%;
}
.corner-piece-inner img {
  width: 100%;
  height: auto;
  object-fit: cover;
  position: absolute;
}
.right-corner-piece-content {
  width: 100%;
  height: 100%;
  padding: 6%;
  padding-right: 36px;
  padding-left: 25%;
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 10%;
}
.logo {
  position: relative;
}
.logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.left-corner-piece-content {
  width: 100%;
  height: 100%;
  padding: 6%;
  padding-left: 36px;
  padding-right: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing10);
}

.left-corner-piece-content p {
  z-index: 1;
  text-align: center;
  font-size: 1.6vh;
  font-size: 1.6dvh;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  font-weight: 600;
  font-family: "Karla", sans-serif;
}
.left-corner-piece svg {
  color: var(--black);
  font-size: 1.6vh;
  font-size: 1.6dvh;
  z-index: 1;
}
