.buildingLabel > div {
  font-family: "FatFrank", sans-serif;
  position: absolute;
  background: rgba(255, 255, 255, 0.65);
  color: var(--blue);
  padding: var(--spacing15);
  white-space: nowrap;
  overflow: hidden;
  border-radius: var(--border-radius20);
  user-select: none;
  font-size: 30px;
}
